@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #EAECDA;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color : #fff;
  font-weight: bold;
}

.link {
  color: azure; !important
  text-align: center; !important
}

after { clear: both; }


#main-container {
  text-align: center;
  color: azure;
  vertical-align: middle;
  margin: 50px auto;
  width:auto;
  background: #EAECDA;
}

#main-container form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 800px;
  border-radius: 5px;
  background: #EAECDA;
  border-top: 4px solid #98BCBF;
  border-bottom: 4px solid #98BCBF;
  border-left: 4px solid #98BCBF;
  border-right: 4px solid #98BCBF;
  border-radius: 10px;
}

#main-container form span {
  background-color: #EAECDA;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#main-container form input[type="text"] {
  background-color: #98BCBF;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 400px;
  height: 50px;
  text-align: center;
  text-emphasis-color: #fff;
}

#main-container form input[type="button"] {
  background: #b5cd60;
  border: 0;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#main-container form input[type="button"]:hover {
  background: #16aa56;
  transform: scale(1.05)
}


#main-container form input[type="button"]:active {
  transform: scale(0.95)
}

#StartMeUpLogo {
  text-align : center;
  padding-top : 100px
  padding-bottom : 100px;
  background : #fff;
  background-size: cover;
  background-position: center;
  font-size : 3em;
  margin-bottom : 100px;
  height: 300px;
  width: auto;
  background-image: url("../img/smu-logo-hres.jpg")
}

.image-container {
  height: auto;
  width : 800px;
  margin-left : auto;
  margin-right :auto;
  margin-top : 0px;
  margin-bottom : 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

#top-container {
  color:#.fff;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  background: #2c3338;
}

#timer-container {
  color: #000;
  font-family: 'FontAwesome', sans-serif;
  font-size: 80px;
  font-weight: bolder;
  font-style: italic;
}

#buttons-container {
  margin-top: 20px;
  padding-top: 20px;
}

.button {
  color : #fff;
  padding : 5px;
  padding-left : 14px;
  padding-right : 14px;
  font-size : 1.2em;
  border-radius : 5px;
  margin : 10px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  border : none;
  font-weight : bold;
  cursor : pointer;
  height: 40px;
  width: auto;
}

#pause-button:hover {
  background-color : #FF8065;
  color : #fff;
  transform : scale(1.05);
}

#pause-button:active {
  background-color: #FFBC65;
  transform : scale(0.95);
}

#pause-button {
  background-color: #FFBC65;
}

#done-button {
  background-color: #b5cd60;
}

#done-button:hover {
  background-color : #16aa56;
  color : #fff;
  transform : scale(1.05);
}

#done-button:active {
  background-color: #b5cd60;
  transform : scale(0.95);
}
