<link rel="stylesheet" href="../static/css/menu.css">

<div class="container">
  <a href="#start" class="active">Start</a>
  <div class="dropdown">
    <button class="dropbtn">Users</button>
    <div class="dropdown-content">
      <a href="#users-list">Users List</a>
      <a href="#add-user">Add User</a>
      <a href="#working-users"> Working users </a>
      <a href="#my-settings">My Settings</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Courses</button>
    <div class="dropdown-content">
      <a href="#courses-list">Courses List</a>
      <a href="#add-course">Add Course</a>
      <a href="#add-category">Add Category</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Statistics</button>
    <div class="dropdown-content">
      <a href="#leaderboard">Leaderboard</a>
      <a href="#tops">Tops</a>
    </div>
  </div>
  <a class="right" onclick="logout()">Logout</a>
</div>

<div id="top-container">
  <div id="StartMeUpLogo">
    <br/>
  </div>
</div>

<footer class="copyright">
  <small>
    &copy; Copyright 2017, Start Me Up Careers Limited. All rights reserved.
  </small>
</footer>
