<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>

<html>
  <body>
    <title> Start page </title>

    <div id="start-main-container">
      <form name="start-form" id="start-form" method="POST">

        <span class="fontawesome-lock" </span>
          <input type="text" id="course-name" placeholder="Enter the course name here..."> 

        <input type="button" value="Start work!" id="submit" onclick="validate()"/>

    </div>
  </body>
</html>
