<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

      <link rel="stylesheet" href="../static/css/start+stop.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>

<script src="../static/js/start-stop.js"></script>

<html>
  <body>
    <title> Start page </title>

    <div id="StartMeUpLogo">
      <div class="image-container">
        <img src = "../static/img/smu-logo.jpg" title = "StartMeUp" alt="StartMeUp"/>
      </div>
    </div>

    <div id="start-main-container">
      <form name="start-form" id="start-form" method="POST">

        <input type="text" id="course-name" placeholder="Enter the course name here..."/>
        <br/>
        <input type="button" value="Start work!" id="submit" onclick="start_button_press()"/>
      </form>
    </div>
  </body>
</html>
