<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../static/css/menu.css" rel="stylesheet">
<script src="../static/js/main.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>

<h1 class="title"> Account Information </h1>

<h1 class="sub-title" id="general"> General Information  </h1>
<hr>

<div class="edit-container">
  <div class="inline">
    <p class="info">Name: </p>
  </div>
  <div class="inline">
    <p id="nameP" class="name info"> Testing Test </p>
    <input id="text-name-edit" class="edit-input" type="text" value="Testing Test">
  </div>
  <div class="inline">
    <i id="edit-icon-name" class="material-icons" onclick="toggleDisplayHide(['text-name-edit', 'button-name-edit'],
                                      ['nameP', 'edit-icon-name'])">mode_edit</i>
    <input id="button-name-edit" class="edit-input" type="button" value="Done!"
          onclick="toggleDisplayHide(['nameP', 'edit-icon-name'], ['text-name-edit', 'button-name-edit'])">
  </div>
</div>

<h1 class="sub-title" id="security"> Security </h1>
<hr>

<div class="edit-container">
   <input id="button-reset-pass" class="button-reset" type="button" value="Reset your password"
          onclick="toggleDisplayHide(['password-reset-container', 'pass-confirm'], ['button-reset-pass'])">

   <div id="password-reset-container">
     <span></span>
       <input class="pass-input" type="password" id="old_pass" placeholder="Enter your old password here...">

     <span></span>
       <input class="pass-input" type="password" id="new_pass" placeholder="Enter your password here...">

    <span></span>
      <input class="pass-input" type="password" id="new_pass_confirm" placeholder="Confirm password...">

    <span></span>
      <input id="pass-confirm" class="edit-input" type="button" value="Submit" onclick="toggleDisplayHide(['button-reset-pass'], ['password-reset-container'])">

   </div>
 </div>
