<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Working... </title>

      <link rel="stylesheet" href="../static/css/start+stop.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

      <link rel="stylesheet" href="../static/css/flipclock.css">

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

      <script src="../static/js/flipclock.min.js"></script>

</head>

<script src="../static/js/main.js"></script>

<html>

  <body>

    <div id = "top-container">
        <div id="user-greeting">

        </div>

        <div id="StartMeUpLogo">
          <br/>
        </div>

      </div>


    <div id="main-container">

        <div class="clock" style="margin:2em; align:center;"></div>

      <div id="buttons-container">

        <button class="button"

                id = "pause-button">
            Pause
        </button>

        <button class="button button-tone-down"

                id = "done-button">
            Done!
        </button>

      </div>

      <script type="text/javascript">
         var clock;

         $(document).ready(function() {

         clock = $('.clock').FlipClock({
          clockFace: 'HourlyCounter'
         });

         let time_elapsed = parseInt(read_cookie("time")) ? parseInt(read_cookie("time")) : 0;

         clock.getTime().addSeconds(time_elapsed);

         setInterval(
           function() { sendTimeUpdate(clock.getTime().getSeconds()); },
           60000
         );

         setInterval (
           function () {add_cookie("time", clock.getTime().getSeconds(), 1);},
           10000
         );

        });

      $('#pause-button').click(function() {
        pause_button_press();
        if (pauseActive) {
          clock.stop();
        } else {
          clock.start();
        }
      });

      $('#done-button').click(function() {
        done_button_press();
      });

     </script>

    </div>
  </body>
</html>
