<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Working... </title>

      <link rel="stylesheet" href="../static/css/start+stop.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>

<script src="../static/js/start-stop.js"></script>

<html>
  <body>

    <div id = "top">

      <div id="user-greeting">
        <script>
          var userName = decodeURIComponent(window.location.search);
          userName = userName.substring(1);
          document.write('<p class="script-top">Hello, ' + userName + '</p>')
          </script>
        </div>

        <div id="StartMeUpLogo">

        </div>

      </div>


    <div id="working-main-container">
      
    </div>
  </body>
</html>
